<html>
<head>
<title>fractal flame</title>
<style>
a:active  {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:link    {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:visited {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:hover   {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
</style>
</head>
<body bgcolor="{{settings['bgcolor']}}">
<table align="center">
<tr><td height="30px"></td></tr>
<tr><td>

<img src="{{data.image_url}}"/>

</td></tr>
<tr><td height="30px"></td></tr>

<tr><td align="center">
<table width="100%">
<tr>

<td align="center"  width="100%">
<a href="{{data.next_fortune_link}}">next</a>
</td>

</tr>
</table>
</td></tr>

</table>
</body>
</html>

